{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="jumbotron jumbotron-fluid text-white" style="background: url(https://beiz.jp/images_S/light/light_00034.jpg); background-size: cover;">
                <div class="container">
                    <h1 class="display-4">水を飲みましょう！</h1>
                    <p class="lead">今日は
                        <script type="text/javascript">
                            var items = [
                                {% for item in item_list %}
                                    {% with index=forloop.counter0 %}
                                        {% if 0 < index%},{% endif %}
                                    {% endwith %}
                                    "{{ item.amount }}"
                                {% endfor %}
                            ];

                            var arr = items.toString().split(',');
                            var sum = 0;
                            for (var i=0, len=arr.length; i<len; ++i) {
                                sum += Number(arr[i]);
                            };
                            document.write(sum);
                        </script>
                    ml 飲みました！</p>
                    <div class="progress my-3">
                        <script type="text/javascript">
                            document.write(sum);
                        </script>
                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">25%</div>
                    </div>
                    <a class="btn btn-primary" href="{% url 'create' %}"><i class="fas fa-glass-whiskey"></i> 飲んだ！</a>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                    <div class="float-right mt-1">
                        <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#"><i class="fas fa-search"></i> 検索</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for item in item_list %}
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>飲み物</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.get_type_display|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>量(ml)</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.amount|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>日付</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.date|date:"Y年m月d日" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>作成者</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.created_by.get_full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>作成時間</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'detail' item.pk %}">詳細</a>
                                        <a class="btn btn-outline-dark " href="{% url 'update' item.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' item.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                    <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock %}
